<header class="header">
    <div class="header-content">
        <div class="logo">
            <a href="https://angular.io/" target="_blank" rel="noopener">
                <img src="favicon.ico" alt="Angular Logo">
            </a>
        </div>
        <nav class="nav-links">
            <ul>
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>